a {
    color: rgb(192, 192, 192);
    text-decoration: none;
}

a:hover {
    color: white;
}

textarea {
    width: 400px;
    height: 150px;
    resize: none;
}

input {
    width: 400px;
}

.welcome-wrapper-background {
    /* Target class IS correct, image not showing */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/img/bg-dark-bull.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: none;
    background-attachment: fixed;
}

.show-buttons {
    justify-content: center;
    display: flex;
    flex-direction: row;
}